$common: #767676;
$accent: #f8705f;
$star: #ecec02;
$table-text: #f9f5f9;
$pop-up-header: #464547;
$main-light: white;
$main-dark: black;
$h1-special: lightgray;
$accent-hover: red;
$body-bg: #fcfcfc;
$table-link: #1a9cb0;